{% extends "layout.html" %}
{% block content %}

<div class="container">

    <h1 style="text-align:center;">The Movie Recommendation System</h1>

    <form action="/recommend" method="POST">
        <label class="info-text" for="movie">Select a movie title:</label>
        <select name="movie" id="movie" class="input" required>
            {% for m in movies %}
            <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn">Get Movie Recommendations</button>
    </form>

    <div style="margin-top: 30px; text-align:center;">
        <a href="/user" class="info-text"><b>Click here for personalized user recommendations</b></a>
    </div>

</div>

{% endblock %}
