<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Movie Recommender" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script>
        // Load saved theme
        document.addEventListener("DOMContentLoaded", function () {
            if (localStorage.getItem("theme") === "dark") {
                document.body.classList.add("dark");
            }
        });

        function toggleDarkMode() {
            document.body.classList.toggle("dark");

            if (document.body.classList.contains("dark")) {
                localStorage.setItem("theme", "dark");
            } else {
                localStorage.setItem("theme", "light");
            }
        }
    </script>
</head>


<body>

    <!-- Navigation Bar -->
    <nav>
        <div>
            <a href="/">Home</a>
            <a href="/user">User Recommendations</a>
        </div>

        <button id="darkToggle" onclick="toggleDarkMode()">🌙 Toggle Dark/Light Mode</button>
    </nav>

    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
